body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #6f6f6f;
    background-color: #f7f7f7;
    background: url(../images/header-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

h2{
    color: #093e4f;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    margin: 60px 0;
}

p{
    text-align: justify;
    margin-bottom: 45px;
}

.menu-bg{
    background-color: #000;
}

.header{
    min-height: 175px;
}

.logo{
    display: flex;
    min-height: 175px;
}

.logo img{
    display: block;
    margin: 0 auto;
}

.logo a{
    font-size:22px;
    font-weight: 500;
    color:#fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.logo a:hover{
    text-decoration: none;
    color: #fff;
}

.phone{
    color:#fff;
    font-size: 26px;
    line-height: 1;
    padding: 0 0 0 20px;
}

.phone span{
    color:#88b1be;
    font-size: 14px;
    text-transform: uppercase;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li:hover{
    background-color: #14ba6a;
}

.menu li a{
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 15px 25px;
}

.menu li a:hover{
    text-decoration: none;
}

.menu li:hover > .sub-menu{
    display: block;
}

.sub-menu{
    position: absolute;
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background-color: #14ba6a;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 999;
}

.sub-menu li a{
    border-bottom: 1px solid #5bd098;
}

.sub-menu li:last-child a{
    border: none;
}

.sub-menu li:last-child{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sub-menu li:hover{
    background-color: #109454;
}

.slider{
    min-height: 510px;
}

.slider > div{
    min-height: 510px;
    padding-top: 130px;
}

.slider h2, .slider h3{
    line-height: 1.75;
}

.slider h2{
    font-weight: 700;
    color:#fff;
    font-size: 48px;
    margin: 0;
}

.slider h3{
    font-size: 20px;
    color: #89b2bf;
    margin-bottom: 40px;
}

.green-btn{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #14ba6a;
    border-radius: 35px;
    padding: 15px 35px;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1;
}

.green-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #109454;
}

.slider-nav{
    background-color: #fff;
    color: #c9c9c9;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    min-height: 170px;
    margin-bottom: -45px;
    z-index: 100;
    position: relative;
}

.slider-btn{
    min-height: 170px;
}


.slider-btn:first-of-type:hover,
.slider-btn:first-of-type {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}


.slider-btn:last-of-type:hover,
.slider-btn:last-of-type{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.slider-btn::before{
    content: '';
    display: none;
    position: absolute;
    top: -15px;
    height: 20px;
    width: 100%;
    background-color: #14ba6a;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.slider-btn i::before{
    font-size: 45px;
    margin:0;
}

.slider-btn h3{
    font-size: 18px;
    color: #14ba6a;
    margin-left: 25px;
}

.slider-btn h4{
    font-size: 14px;
    margin-left: 25px;
}

.slider-btn:hover{
    cursor: pointer;
    background-color: #fbfbfb;
}

.slider-btn-active {
    background-color: #14ba6a;
    color: #99f2c5;
    cursor: pointer;
}

.slider-btn-active:hover{
    background-color: #14ba6a;
}

.slider-btn-active > .align-self-center {
    margin-top: -25px;
}

.slider-btn-active > .slider-btn-arrow {
    display: block;
}

.slider-btn-active::before {
    display: block;
}

.slider-btn-active h3{
    color: #fff;
}

.slider-btn-arrow{
    position: absolute;
    text-align: center;
    display: none;
    bottom: 0;
    width: 60px;
    height: 30px;
    padding: 5px 0 0 0;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;    
}

.slider-btn-arrow i::before{
    font-size: 22px;
    color: #c1c1c1;
}

.content-spacer{
    background-color: #f7f7f7;
    height: 115px;
}

.white-bg{
    background-color: #fff;
    padding-bottom: 60px;
}

.grey-bg{
    background-color: #f7f7f7;
}

.article-bg{
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.05);
}

.article-bg:hover .article-thumbnail > img{
    opacity: 0.4;
}

.article-bg:hover .article-thumbnail > span{
    opacity: 1;
}

.article-thumbnail{
    position: relative;
    background-color: #033342;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.article-thumbnail span{
    position: absolute;
    opacity: 0;
    z-index: 50;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.article-content{
    padding: 30px 35px;
}

.article-content h3{
    font-size: 18px;
    color: #454545;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.article-content p{
    margin: 0;
    line-height: 1.75;
}

.article-bg a{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 100;
}

.carousel-arrow{
    padding: 15px 20px;
    margin-top: -80px;
}

.carousel-arrow:hover{
    cursor: pointer;
}

.carousel-nav{
    margin: 45px;
}

.owl-dots{
    text-align: center;
    margin-bottom: 35px;
}

.owl-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #d1d1d1;
    border-radius: 50%;
    margin-right: 5px;
}

.owl-dot:hover{
    cursor: pointer;
    background-color: #dfdfdf;
}

.owl-dot.active{
    background-color: #14ba6a !important;
}

.blue-bg{
    background-color: #033342;
    background: url(../images/map-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.blue-bg h2{
    color: #fff;
}

.form-line{
    margin-bottom: 30px;
}

.form-line input[type="text"]{
    width: 100%;
    background-color: #093e4f;
    color: #fff;
    padding: 10px 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #246478;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.form-line input::-webkit-input-placeholder,
.form-line textarea::-webkit-input-placeholder{
    color:#fff;
}

.form-line input[type="text"]:focus,
.form-line textarea:focus{
    outline: none;
    border-bottom-color: #14ba6a;
}

.form-line textarea{
    background-color: #093e4f;
    color: #fff;
    padding: 10px 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #246478;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.form-line input[type="text"]:valid, 
.form-line input[type="text"]:invalid, 
textarea:focus, 
textarea:invalid{
    outline: none;
    box-shadow: none;
}

.form-line input[type="submit"]{
    border:none;
    cursor: pointer;
}

.adress-info p:first-of-type{
    color: #14ba6a;
}

.adress-info p{
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 1.75;
}

.social-btn a{
    font-size: 18px;
}

.social-btn a:first-child{
    padding: 15px 20px;
    margin-right: 10px;
}

.social-btn a:last-child{
    padding: 15px 18px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .slider-btn-arrow, .slider-btn::before{
        display: none !important;
    }
}

@media (max-width: 767px) {
    .menu-bg{
        display: none;
    }
    .contact-info{
        display: none !important;
    }
    .slider h2,
    h2 {
        font-size: 30px !important;
    }
    .slider h3{
        font-size: 18px;
    }
    .logo a{
        width: 100%;
    }
    .carousel-arrow{
        display: none;
    }
    .article-img{
        margin-bottom: 45px;
    }
    .slider{
        margin-bottom: 45px !important;
    }
    .slider-btn-text{
        display: none;
    }
    .slider-nav{
        min-height: 100px;
        border-radius: 0;
    }
    .slider-btn {
        min-height: 100px;
    }
    .slider-btn:last-of-type:hover, 
    .slider-btn:last-of-type,
    .slider-btn:first-of-type:hover, 
    .slider-btn:first-of-type  {
        border-radius: 0;
    }
}

@media (max-width: 991px) {
    .menu li a{
        font-size: 14px;
        padding: 15px 10px;
    }
    .slider > div{
        padding-top: 80px;
        min-height: 400px;
    }
    .slider {
        min-height: 400px;
    }
    .slider h2,
    h2 {
        font-size: 36px;
        margin-bottom: 15px;
    }
    .slider-btn i::before{
        font-size: 36px;
    }
    .slider-btn h3 {
        font-size: 16px;
        margin-left: 15px;
    }
    .slider-btn h4{
        margin-left: 15px;
    }
    .slider-btn-arrow i::before {
        font-size: 22px;
    }
}